In [58]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [59]:
uncleaned_df = pd.read_csv("dataset.csv")
display(uncleaned_df)

,Country,Global Food Security Index (GFSI),Human Development Index (HDI),Corruption Index (CI),GDP per capita (GDP),Cost of Living Index (COL),Healthcare Index (HI)
0,Azerbaijan,62.3,0.756,30.0,4229.9,29.9,43.2
1,Bangladesh,50.0,0.632,26.0,2233.3,32.3,42.8
2,Cambodia,51.5,0.594,21.0,1577.9,47.5,-
3,China,69.3,0.761,42.0,10408.7,40,64.5
4,India,56.2,0.645,40.0,1913.2,24.6,67.1
5,Indonesia,59.5,0.718,37.0,3895.6,37.3,60.5
6,Japan,77.9,0.919,74.0,39986.9,83.3,81.1
7,Kazakhstan,70.8,0.825,38.0,9121.6,30.6,50.7
8,Laos,46.4,0.613,29.0,2593.4,-,-
9,Malaysia,67.9,0.810,51.0,10160.8,39.1,68.1
10,Myanmar (Burma),56.5,0.583,28.0,1477.5,42.1,-
11,Nepal,53.0,0.602,33.0,1139.2,29,56.9
12,Pakistan,52.3,0.557,31.0,1322.3,22,60.6
13,Philippines,55.7,0.718,34.0,3224.4,37.6,67.5
14,Singapore,75.7,0.938,85.0,61274.0,81.1,70.8
15,South Korea,72.1,0.916,61.0,31721.3,78.2,82
16,Sri Lanka,54.8,0.782,38.0,3852.4,31.6,72.5
17,Tajikistan,49.4,0.668,25.0,852.3,-,-
18,Thailand,64.0,0.777,36.0,7001.8,49.8,77.9
19,Uzbekistan,50.9,0.720,26.0,1759.3,26,-
20,Vietnam,60.3,0.704,36.0,3586.3,38.3,57.7
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Azerbaijan,62.6,0.745,30.0,5408.0,30.9,44
23,Bangladesh,49.1,0.661,26.0,2457.9,33.3,42.7
24,Cambodia,53.0,0.593,23.0,1625.2,47.9,-
25,China,71.3,0.768,45.0,12617.5,42.5,66.4
26,India,57.2,0.633,40.0,2238.1,25.2,66.2
27,Indonesia,59.2,0.705,38.0,4334.2,37.4,60.5
28,Japan,79.3,0.925,73.0,39827.1,87.8,80.7
29,Kazakhstan,69.2,0.811,37.0,10373.8,29.8,60.1
30,Laos,46.4,0.607,30.0,2535.6,-,-
31,Malaysia,70.1,0.803,48.0,11109.3,39.5,69.6
32,Myanmar (Burma),56.7,0.585,28.0,1210.5,38.1,-
33,Nepal,53.7,0.602,33.0,1229.4,28.9,57.9
34,Pakistan,54.7,0.544,28.0,1505.0,21.6,60.5
35,Philippines,60.0,0.699,33.0,3460.5,40.7,67.1
36,Singapore,77.4,0.939,85.0,77710.1,85.6,70.9
37,South Korea,71.6,0.925,62.0,34997.8,81.2,82.3
38,Sri Lanka,54.1,0.782,37.0,3994.2,31.3,72.6
39,Tajikistan,51.6,0.685,25.0,916.7,-,-
40,Thailand,64.5,0.800,35.0,7060.9,49.3,78.1
41,Uzbekistan,53.8,0.727,28.0,1993.4,27.1,-
42,Vietnam,61.1,0.703,39.0,3756.5,38,58.3

In [86]:
#Dataset cleaning

#Rename columns to acronyms
uncleaned_df = uncleaned_df.rename(columns={
    'Global Food Security Index (GFSI)': 'GFSI',
    'Human Development Index (HDI)': 'HDI',
    'Corruption Index (CI)': 'CI',
    'GDP per capita (GDP)': 'GDP',
    'Cost of Living Index (COL)': 'COL',
    'Healthcare Index (HI)': 'HI'
})

#Delete rows containing NaN values
df = uncleaned_df.replace("-", np.NaN).dropna()
df = df.drop(['Country'], axis=1)

df = df.astype(float) #convert all values in df to float

df

    GFSI    HDI    CI      GDP   COL    HI
0   62.3  0.756  30.0   4229.9  29.9  43.2
1   50.0  0.632  26.0   2233.3  32.3  42.8
3   69.3  0.761  42.0  10408.7  40.0  64.5
4   56.2  0.645  40.0   1913.2  24.6  67.1
5   59.5  0.718  37.0   3895.6  37.3  60.5
6   77.9  0.919  74.0  39986.9  83.3  81.1
7   70.8  0.825  38.0   9121.6  30.6  50.7
9   67.9  0.810  51.0  10160.8  39.1  68.1
11  53.0  0.602  33.0   1139.2  29.0  56.9
12  52.3  0.557  31.0   1322.3  22.0  60.6
13  55.7  0.718  34.0   3224.4  37.6  67.5
14  75.7  0.938  85.0  61274.0  81.1  70.8
15  72.1  0.916  61.0  31721.3  78.2  82.0
16  54.8  0.782  38.0   3852.4  31.6  72.5
18  64.0  0.777  36.0   7001.8  49.8  77.9
20  60.3  0.704  36.0   3586.3  38.3  57.7
22  62.6  0.745  30.0   5408.0  30.9  44.0
23  49.1  0.661  26.0   2457.9  33.3  42.7
25  71.3  0.768  45.0  12617.5  42.5  66.4
26  57.2  0.633  40.0   2238.1  25.2  66.2
27  59.2  0.705  38.0   4334.2  37.4  60.5
28  79.3  0.925  73.0  39827.1  87.8  80.7
29  69.2  0.811  37.0  10373.8  29.8  60.1
31  70.1  0.803  48.0  11109.3  39.5  69.6
33  53.7  0.602  33.0   1229.4  28.9  57.9
34  54.7  0.544  28.0   1505.0  21.6  60.5
35  60.0  0.699  33.0   3460.5  40.7  67.1
36  77.4  0.939  85.0  77710.1  85.6  70.9
37  71.6  0.925  62.0  34997.8  81.2  82.3
38  54.1  0.782  37.0   3994.2  31.3  72.6
40  64.5  0.800  35.0   7060.9  49.3  78.1
42  61.1  0.703  39.0   3756.5  38.0  58.3

In [87]:
# #Display the relationship between each predictor and the predicted value
# myplot = sns.pairplot(data = df) #TODO: NOT SURE WHY IT ONLY SHOWS SOME VALUES

In [88]:
columns = ["HDI", "CI", "GDP", "COL", "HI"]

# Set up feature and target datasets 
df_target = df[["GFSI"]]
df_features = df[columns]

row, col = df.shape

# display(df_target) 
# display(df_features)

In [89]:
def normalize_minmax(dfin, columns_mins = None, columns_maxs = None):
    dfin_copy = dfin.copy()

    if columns_mins == None:
        columns_mins = dfin_copy.min(axis=0)
        
    if isinstance(columns_mins, list):
        columns_mins = np.array(columns_mins)
    
    if columns_maxs == None:
        columns_maxs = dfin_copy.max(axis=0)

    if isinstance(columns_maxs, list):
        columns_maxs = np.array(columns_maxs)
    

    dfout = (dfin_copy - columns_mins) / (columns_maxs - columns_mins)

    return dfout, columns_mins, columns_maxs

In [90]:
def split_data(df_feature, df_target, random_state=None, test_size=0.5):
    
    indexes = df_feature.index
    n = int(len(indexes) * test_size)
    
    if random_state is not None:
        np.random.seed(random_state)
    
    test_indexes = np.random.choice(indexes, n, replace=False)
    train_indexes = list(set(indexes) - set(test_indexes))
    # train_indexes = filter(lambda x: x not in test_indexes, indexes)
    # train_indexes = [i for i in indexes if not in test_indexes]
    
    df_feature_train = df_feature.loc[train_indexes,:]
    df_target_train = df_target.loc[train_indexes,:]
    
    df_feature_test = df_feature.loc[test_indexes,:]
    df_target_test = df_target.loc[test_indexes,:]
    
    return df_feature_train, df_feature_test, df_target_train, df_target_test

In [92]:
# call normalize_minmax() to normalize df_features
data_norm, column_mins, column_maxs = normalize_minmax(df_features)

# call split_data() with seed of 100 and test size of 30%
df_features_train, df_features_test, df_target_train, df_target_train = split_data(data_norm, df_target, 100, 0.3)